@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: grid;
    grid-template-columns: 50px 1fr 60px 1fr 60px;
    grid-column-gap: 8px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0.5em;
}

input[type=text], textarea {
    font-family: 'Cascadia Mono';
    padding: 0.5em;
    border: none;
    border-radius: 6px;
    background-color: #eee;
}

.remove {
    margin-left: 30px;
    width: 30px;
    height: 30px;
    background-color: #fbb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > button, dialog > button {
    padding: 1em 0.5em;
    min-width: 100px;
    border: none;
    border-radius: 4px;
    background-color: #ddd;
}

button:hover {
    filter: brightness(0.8);
}

.saved {
    background-color: #af7;
}

dialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 black;
}

textarea {
    display: block;
    width: 800px;
    max-width: 80vw;
    margin-bottom: 0.5rem;
}